@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');



body > header > h3 { 
    color: #000000;
}

html{
    background-image: url('/images/background1.jpg');
    color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: #add8e6; */
    font-family:Verdana, Geneva, Tahoma, sans-serif
    }

#main-header{
    font-family: 'Mochiy Pop P One', sans-serif;
    border-bottom: 10px solid #000000;
    text-align: center;
    
}

div.centre{
    text-align: center;
}

.contact-form{
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 50px;
  }

  #delivery{
      text-align: center;
  }

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1.5em;
}
.size{
    width:180px;
    height: 30px;
}

select{
    font-size: 20px;
}

input[type=checkbox] {
    border: 0px;
    width: 100%;
    height: 1.5em;
}
.button {
    background-color: #4CAF50; 
    border: solid 3px;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
  }

  .column1{
      padding: 15px;
  }
  
  

.row1{
    border: solid 3.5px #9b870c;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    width: 900px;
    margin: 0 auto;
    font-size: 12pt;
    display: flex;
    justify-content: center;
}

.details{
    font-size: 18pt;
    height: fit-content;
}



  

